{% extends 'base.html' %}
{% load static %}
{% block title %}
    リアルタイムカメラ
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/camera.css' %}">
{% endblock %}


{% block contents %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
        <p class="lead">カメラで全方位監視を行います</p>
        <a class="btn btn-lg btn-light" href="#about">Scrolling!</a>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h1 class="py-4">About this function</h1>
                    <h4 class="py-2">全方位で監視しています。</h4>
                    <h4>↓人の顔を検出すると、青色の枠で認識されます。↓<span style="width: 100px;"><a class="nav-link" href="{% url 'monitercamera:camera_video' %}">こちら</a></span></h4>
                    <h4>↓認識された画像は、CAMERA PHOTO で閲覧できます↓<span style="width: 100px;"><a class="nav-link" href="{% url 'monitercamera:camera_photo' %}">こちら</a></span></h4>
            </div>
        </div>
    </div>
</section>


{% endblock %}



